@model PhoneBox.Entities.PhoneNumber

<form method="post" asp-action="Update" asp-controller="PhoneNumbers">
    @Html.HiddenFor(x => x.AppUserId)
    @Html.HiddenFor(x => x.CreatedTime)
    <div class="card card-primary m-3">
        <div class="card-header">
            <h3 class="card-title">Numara Güncelle</h3>
        </div>

        <div class="card-body" style="display: block;">
            <div class="form-group">
                <label class="form-control">@ViewBag.appUser.FirstName @ViewBag.appUser.LastName</label>
            </div>
            <div class="form-group">
                <label asp-for="Number">Numara</label>
                <input type="text" asp-for="Number" class="form-control" placeholder="@Model.Number">
            </div>
        </div>
        <div class="card-footer">

            <a asp-action="GetAll" asp-controller="PhoneNumbers" class="btn btn-secondary col-2">Geri Dön</a>
            <button type="submit" class="btn btn-success col-2 float-right">Numara Güncelle </button>
        </div>
    </div>
</form>