@using Microsoft.AspNetCore.Mvc.Localization
@*@model UserForRegisterVM;*@
@inject IViewLocalizer localizer
@{
    ViewData["Title"] = "Register";
    Layout = "AuthLayout";
}

<body class="hold-transition register-page">
<div class="register-box">
  <div class="register-logo">
    <a asp-action="Register" asp-controller="Auth"><b>@localizer["Kayıt Sayfası"]</b></a>
  </div>

  <div class="card">
    <div class="card-body register-card-body">
      <p class="login-box-msg">@localizer["İşlem yapmak için kayıt olunuz"]</p>

      @*<form method="post" asp-action="Register" asp-controller="Auth">
          <div class="input-group mb-3">
              <input type="text" asp-for="Username" class="form-control" placeholder="@localizer["Kullanıcı adı"]">
              <div class="input-group-append">
                  <div class="input-group-text">
                      <span class="fas fa-user"></span>
                  </div>
              </div>
          </div>
          <div class="input-group mb-3">
              <input type="text" asp-for="FirstName" class="form-control" placeholder="@localizer["Ad"]">
              <div class="input-group-append">
                  <div class="input-group-text">
                      <span class="fas fa-user"></span>
                  </div>
              </div>
          </div>
          <div class="input-group mb-3">
              <input type="text" asp-for="LastName" class="form-control" placeholder="@localizer["Soyad"]">
              <div class="input-group-append">
                  <div class="input-group-text">
                      <span class="fas fa-user"></span>
                  </div>
              </div>
          </div>
        <div class="input-group mb-3">
          <input type="email" asp-for="Email" class="form-control" placeholder="@localizer["Email"]">
          <div class="input-group-append">
            <div class="input-group-text">
              <span class="fas fa-envelope"></span>
            </div>
          </div>
        </div>
        <div class="input-group mb-3">
            <input type="password" asp-for="Password" class="form-control" placeholder="@localizer["Şifre"]">
          <div class="input-group-append">
            <div class="input-group-text">
              <span class="fas fa-lock"></span>
            </div>
          </div>
        </div>
        
        <div class="row">
          <div class="col-8">
            <div class="icheck-primary">
              <input type="checkbox" id="agreeTerms" name="terms" value="agree">
              <label for="agreeTerms">
                <a href="#">@localizer["Şartları kabul ediyorum."]</a>
              </label>
            </div>
          </div>
          <!-- /.col -->
          <div class="col-4">
            <input type="submit" class="btn btn-primary btn-block" value="@localizer["Kayıt ol"]"/>
          </div>
          <!-- /.col -->
        </div>
      </form>*@

        <a asp-action="Login" asp-controller="Auth" class="text-center">@localizer["Zaten bir hesabım var"]</a>
    </div>
    <!-- /.form-box -->
  </div><!-- /.card -->
</div>
<!-- /.register-box -->

</body>


