@using Microsoft.AspNetCore.Mvc.Localization
@model PhoneBox.Models.UpdateRoleVM
@inject IViewLocalizer localizer
@*TODO: Bu sayfa Update user eklendikten sonra düzenlenecek *@
<form method="post" asp-action="UpdateUser" asp-controller="User">
    @Html.HiddenFor(x => x.Id)
    <div class="card card-primary m-3"/>
    <div class="card card-primary">
        <div class="card-header">
            <h3 class="card-title">@localizer["Rol Güncelle"]</h3>
        </div>
        <div class="card-body" style="display: block;">
           
            <div class="form-group">
                <label asp-for="Name">@localizer["Rol"]</label>
                <input type="text" asp-for="Name" class="form-control" placeholder="@Model.Name">
            </div>
        </div>
        <div class="card-footer">
            <a asp-action="GetAllUserRoles" asp-controller="UserRoles" class="btn btn-secondary col-2">@localizer["Geri Dön"]</a>
            <button type="submit" class="btn btn-success col-2 float-right">@localizer["Rol Güncelle"] </button>
        </div>
    </div>
</form>